{% extends "base.html" %}
{% block title %} The Blog {% endblock title %}
{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col-md-12 jumbotron">
		<div class="text-center">
		    <h1>{% block header_text %}{% endblock header_text %}</h1>
		    <form method="POST" action="{% block form_action %}{% endblock form_action %}">
			{{ form.text }}
			{% csrf_token %}
			{% if form.errors %}
			    <div class="form-group has-error">
				<span class="help-block">{{ form.text.errors }}</span>
			    </div>
			{% endif %}
		    </form>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
		{% block table %}
		{% endblock table %}
	    </div>
	</div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/blog.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {
	 window.topBlog.initialise();
     });
    </script>
{% endblock scripts %}
