{% extends "blog_base.html" %}
{% block header_text %}Blog posts{% endblock %}
{% block form_action %}{% url 'blog:blog_item' blog.id %}{% endblock %}
{% block table %}
    <ul id="blog_posts" class="table">
	{% for blog_post in blog.post_set.all %}
	    <li id="blog_post_{{ blog_post.id }}">
		{{ blog_post.text }}
	    </li>
	{% endfor %}
    </ul>
{% endblock %}
