{% extends 'base.html' %}

{% block title %}The Login Page{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input name="item_text" id="id_email" placeholder="Enter your email" />
	<button type="submit">Login</button>
    </form>
{% endblock %}
