{% extends 'base.html' %}

{% block title %}The Registration Page{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <form method="post">
	{% csrf_token %}
	<input name="email" id="id_email" placeholder="Enter your email" />
	{{ form.as_p }}
	<button type="submit">Sign up</button>
    </form>
{% endblock %}
