{% extends 'base.html' %}

{% block title %}The Website{% endblock %}

{% block content %}
    <h1>
	Charlie Brodie: The Website
    </h1> 

    <a id="blog" href="{% url "blog:new_blog" %}">
	Blog	
    </a>
    <a id="login" href="{% url "login" %}">
	Login
    </a>
    <a id="register" href="{% url "register" %}">
	Register	
    </a>
{% endblock %}
